.shop-options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 300px;
    border: 1px solid white
}

.shop-item {
    height: 70px;
    width: 70px;
    font-size: 12px;
    border: 1px solid white;
    
}

.item-label {
    margin: 0;
}